<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <clear />
    <!--<add name="MiaCn"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=localhost;Initial Catalog=projectmia_;Integrated Security=True"/>-->
    <add name="MiaCn"
         providerName="System.Data.SqlClient"
         connectionString="Server=sql.bsite.net\MSSQL2016;Database=projectmia_;User Id=projectmia_;Password=ProjectMIA!;"/>
    <!--<add name="MiaCn"
         providerName="System.Data.SqlClient"
         connectionString="Server=SQL1\MIA;Database=MIA;User Id=mia;Password=d93#*Za1;"/>-->
  </connectionStrings>
</configuration>