<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <clear />
    <!--Productiekopie-->
    <!--<add name="MiaCn"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=localhost;Initial Catalog=MIA;Integrated Security=True"/>
    <add name="MiaClient.Properties.Settings.Chart_Connection" connectionString="Data Source=localhost;Initial Catalog=MIA;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    
    <!--online testversie - gedeeld-->
    <add name="MiaCn"
         providerName="System.Data.SqlClient" 
         connectionString="Server=sql.bsite.net\MSSQL2016;Database=miaonline_;User Id=miaonline_;Password=ProjectMIA!;"/>
    <add name="MiaClient.Properties.Settings.Chart_Connection" connectionString="Data Source=sql.bsite.net\MSSQL2016;Initial Catalog=miaonline_;User ID=miaonline_;Password=ProjectMIA!;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    
    <!--Productie-->
    <!--<add name="MiaCn"
         providerName="System.Data.SqlClient"
         connectionString="Server=SQL1\MIA;Database=MIA;User Id=mia;Password=d93#*Za1;"/>-->
    <!--<add name="MiaClient.Properties.Settings.Chart_Connection" connectionString="Server=SQL1\MIA;Database=MIA;User Id=mia;Password=d93#*Za1;"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>