<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <clear />
    <add name="MiaCn" connectionString="Server=sql.bsite.net\MSSQL2016;Database=projectmia_;User Id=projectmia_;Password=ProjectMIA!;"
      providerName="System.Data.SqlClient" />
    <add name="MiaClient.Properties.Settings.Chart_Connection" connectionString="Data Source=sql.bsite.net\MSSQL2016;Initial Catalog=projectmia_;User ID=projectmia_;Password=ProjectMIA!;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>